player-connection-mode=Listen
player-connection-guid=1666452345
player-connection-debug=1
player-connection-project-name=My project
player-connection-ip=192.168.56.1
player-connection-ip=26.28.29.24
player-connection-ip=192.168.1.5
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5b3d453406974d06a3d0cb5ba030bde8
